body {
  overflow: hidden;
}

.App {
  font-family: 'Luckiest Guy', cursive;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-content: space-between;
  justify-content: space-between;
  background-color: rgb(26, 194, 26);
}

header {
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  background-color: rgb(24, 161, 54);
  color: white;
  padding: 30px;
}

game {
  display: flex;
  padding: 30px;
  flex-direction: column nowrap;
  justify-content: space-between;
}

footer {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: rgb(24, 161, 54);
  color: white;
  padding: 30px;
  font-size: 24px;
}

.message {
  display: flex;
  justify-content: center;
  width: 110%;
  height: 100%;
  color: white;
  position: absolute;
  background-color: #00000063;
  left: -50px;
  top: -30px;
  padding-bottom: 20%;
  padding-top: 20%;
  z-index: 100;
}